# This is the configuration for libtnat64 (transparent NAT64)
# Lines beginning with # and blank lines are ignored
#
# This sample configuration shows the simplest (and most common) use of
# tnat64. This is a basic LAN, this machine can access anything on the 
# local ethernet (192.168.0.*) but anything else has to use the NAT64.
# Further details can be found in the man pages,
# tnat64(8) and tnat64.conf(5) and a more complex example is presented in 
# tnat64.conf.complex.example

# We can access 192.168.0.* directly
local = 192.168.0.0/255.255.255.0

# Otherwise we use the NAT64
nat64_prefix = 2001:bbb:aaaa:0:ddd:717::

